.navbar-nav{
    margin:auto;

   }
   .nav-item{
    margin: 10px;
   }
.navbar-brand{
  margin-left: 30px;
  font-weight:bold;
  font-family:'Times New Roman', Times, serif;
  font-size: 190%;
}
.nav-link{
  font-size: larger;
  
}
.nav-link:hover{
    
    text-decoration: underline;
    text-decoration-color: lightseagreen;
}

.hero{
    position:relative;
}

.hero .content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.logo{
    font-size:x-large;
}
